.left{
	float: left;
	overflow: auto;
	width: 50%;
}

.right{
	float: right;
	overflow: auto;
	width: 50%;
}

#enterTrades{
	margin-left: 10vw;
	margin-top: 2vw;
	margin-bottom:2vw;
}

#enterTradesButtons, #getCSVButtons{
	margin-right: 1vw;
}


#makeTradeForm{
	width: 20vw;
	margin: 10vw;
	margin-top: 2vw;
	margin-bottom:5vw;
}

#interestRateSwaps{
	width: 20vw;
	margin: 10vw;
	margin-top: 2vw;
	margin-bottom:5vw;
}

#fixed-float-radio{
	display:inline-block;
	margin-left: 2vw;
}

#sendCSVTradesForm{
	overflow: auto;
	width: 20vw;
/*	margin-left: 5vw;*/
}

#sendCSVDailyTrades{
/*	margin-left: 5vw;*/
}

#pl-radio {
	display:inline-block;
	margin-left: 2vw;
}

.msgs{

}
#sendCSVPLForm{
	overflow: auto;
/*	margin-left: 5vw;*/
	display:inline-block;
}

#sendCSVAggregateForm{
	overflow: auto;
	width: 20vw;
/*	margin-left: 5vw;*/
}

#sendCSVMaturingForm{
	overflow: auto;
	width: 30vw;
/*	margin-left: 5vw;*/
}

#createNewUserForm{
	width: 25vw;
	margin-top: 2vw;
}

.form-control{
	width: inherit;
}

.form-group{
	overflow: auto;
}
h1{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title{
	margin-top: 4vw;
}

#welcome{
	margin-left: 10vw;
}

#underTitle{
	margin-left: 10vw;
}

#limitPrice{
	display: none;
}



#fill-title {
	position: relative;
	left:100px;
}

textarea {
	position: relative;
	left:100px;
	width:300px;
}