extends layout

block content
	div(class="left")
		h1.title#welcome Welcome to #{title}
		p#underTitle Make a trade by entering your information below

		form(name="makeTrade", action="/", method="post", id="makeTradeForm")

			div(class="form-group")
				label Symbol
				input(type="text", name="symbol", class="form-control", maxlength="3", size="3em")
			div(class="form-group")
				label Expiry
				input(type="text", name="expiry", class="form-control")
			div(class="form-group")
				label Lots
				input(type="number", name="lots", class="form-control")
			div(class="form-group")
				label Price
				input(type="text", name="price", class="form-control")
			div(class="form-group")
				label(class="checkbox-inline")
					input(type="radio", name="transType", value="Sell")
					| Sell
				label(class="checkbox-inline")
					input(type="radio", name="transType", value="Buy")
					| Buy
			div(class="form-group")
				label Trader 
				select(name="trader", id="traderDropdown", class="form-control")
			div(class="form-group")
				input(type="submit", value="Submit", class="btn btn-default", style="float:right; margin-top:2vw")
	div(class="right")
		h1.title Create a New User
		form(name="createNewUser", action="/newUser", method="post", id="createNewUserForm")
			div(class="form-group")
				label First Name
				input(type="text", name="first", class="form-control")
			div(class="form-group")
				label Last Name
				input(type="text", name="last", class="form-control")
			div(class="form-group")
				input(type="submit", value="Create New Trader", class="btn btn-default", style="float:right; margin-top:2vw")
		h1.title Create CSV Files
		form(name="sendCSVTrades", action="/CSVTrades", method="get", id="sendCSVTradesForm")
			div(class="form-group")
				input(type="submit", value="Get CSV Trades", class="btn btn-default")

		form(name="sendCSVAggregate", action="/CSVAggregate", method="get", id="sendCSVAggregateForm")
			div(class="form-group")
				input(type="submit", value="Get CSV Aggregate", class="btn btn-default")

	script.
		function sendAlert(msg){
			if (msg)
			{
				alert(msg);
			}
		}
		sendAlert("#{alertScript}");

		function populateTraders(traders)
		{
			var select = document.getElementById("traderDropdown");

			for (trader in traders)
			{
				trader = traders[trader]
				var el = document.createElement("option");
			    el.textContent = trader;
			    el.value = trader.split("-")[0];
			    select.appendChild(el);
			}
		}
		populateTraders(JSON.parse('!{traderScript}'));

