#makeTradeForm{
	float: left;
	width: 20vw;
	margin: 10vw;
	margin-top: 5vw;
	margin-bottom:5vw;
}

#sendCSVTradesForm{
	float: right;
	overflow: auto;
	width: 20vw;
	margin: 10vw;
	margin-top: 5px;
	margin-bottom: 5px;
}

#sendCSVAggregateForm{
	float: right;
	overflow: auto;
	width: 20vw;
	margin: 10vw;
	margin-top: 5px;
	margin-bottom:5px;
}


.form-control{
	width: inherit;
}

h1{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#title{
	margin-top: 4vw;
	margin-left: 10vw;
}

#underTitle{
	margin-left: 10vw;
}
